<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>Super Admin Responsive Template</title>
            
        <!-- CSS -->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/animate.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet">
        <link href="./css/style.css" rel="stylesheet">
        <link href="./css/icons.css" rel="stylesheet">
        <link href="./css/generics.css" rel="stylesheet"> 
        <link href="./css/avatar.css" rel="stylesheet">
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
        <script src="./js/angular.min.js"></script>
    </head>
    <body id="skin-blur-black" ng-controller="AppCtrl">
        <!-- Content -->
        <div id="tab-1">
            <div class="header-pos">


            <header id="header" class="media width-logo">
                <a href="" id="menu-toggle"></a> 
                <a id="logo" class="logo pull-left">PROFILE</a>

            </header>
            <div class="clearfix"></div>
            </div>

                <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div id="User" class="side-widgets overflow color-section">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        {{#if user.local.name}}
                            <a href="" data-toggle="dropdown">
                                <img style = "height: 120px;" class="profile-pic animated" src='{{user.local.avatar}}'>
<!--                
                            <form id = "uploadForm" enctype = "multipart/form-data" action = "/api/photo" method = "post">
                                <div>
                                    <img class="avatar-img" id="image" src="{{user.local.avatar}}" alt="" style="height: 100px; width: 100px" onclick="changePicture(); return false">
                                </div>

                                <input accept="image/*" type="file" id="upload" name="userPhoto" onchange="readURL(this);"style="visibility: hidden;" />
                                 
                                <input id="button-check" type="submit" value="Change avatar" name="submit">
                                </form>
-->
                            </a>
                            
                                <h4 class="m-0">{{user.local.name}}</h4>
                            {{else}}
                            <a href="" data-toggle="dropdown">
                                <img class="profile-pic animated" src='{{user.facebook.avatar}}' alt="">
                            </a>
                            <h4 class="m-0">{{user.facebook.name}}</h4>
                        {{/if}}
                        <br>
                            
                            <div class="icon_logout">
                                <div style="text-align: center;width: 30px;">
                                    <a href="/logout">
                                        <div class="badge-container">
                                          <img src='./img/logout.png' alt="user" class="icon-small">
                                        </div>
                                    </a>
                                    </div>
                                    <div class="col-logout">
                                        <a href="/logout"><span class="text-name-icon">LOG OUT</span></a>
                                    </div>
                                
                            </div>
                      
                       
                    </div>
                  
                </div>
                
                <div id="Message" class="side-widgets overflow color-section" style="display: none;" >
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated" src="http://byrushan.com/projects/sa/1-0-3/img/profile-pic.jpg" alt="">
                        </a>
                        <h4 class="m-0">AAAAAAAAAAAAAAAA</h4>
                    </div>
                </div>

                <div id="Contact" class="side-widgets overflow color-section" style="display: none;">
                    <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" placeholder="Search" ng-keypress="SearchUser($event)" ng-model='key_search' />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                    </div>
                    
                    <div class="friend result_search" ng-show='showFind'>
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img ng-src="[[listFind.facebook.avatar || listFind.local.avatar]]" alt="user" class="avatar-medium">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">[[listFind.facebook.name || listFind.local.name]]</span>
                                </div>
                                <div class="col-add">
                                    <a id="add_friend" title="Add Friend" href="#" ng-click='AddFriend()'>
                                        <div class="icon_addfr">
                                            <img src="./img/add_fr.png">
                                        </div>
                                    </a>
                                </div>
                    </div>
                    
                    <div class="header-allfriends">
                        <h4>All Friends</h4>
                    </div>
                    <div id="Friends" class="scrollbar-macosx">
                        <ul class="ListFriend">
                            <li class="friend" ng-repeat='friend in AllFriends'  ng-click='Chat_user([[friend]])'>
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img ng-src="[[friend.facebook.avatar || friend.local.avatar]]" alt="user" class="avatar-medium">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">[[friend.facebook.name || friend.local.name]]</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!--<div class="badge-container">
                      <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                      <div class="badge badge-red">O</div>
                    </div>-->
                </div>
                
                <div id="Notification" class="side-widgets overflow color-section" style="display: none;" >
                    <!-- Profile Menu -->
                    <div id="Friends" class="scrollbar-macosx">
                        <ul class="ListFriend">
                            <li class="friend" ng-repeat='item in Noti'>
                                <div>
                                    <a>
                                        <div class="badge-container-noti">
                                          <img ng-src="[[item.avatar]]" alt="user" class="avatar-noti">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-noti-invite">
                                    <span class="text-name">[[item.name]] [[item.classify]]</span>
                                </div>
                                <div class="col-noti">
                                    <a id="add_friend" title="Add Friend" href="#" ng-click='Accept_Friend([[item._id]])'>
                                        <div class="icon_noti">
                                            <img src="./img/accept.png">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-noti">
                                    <a id="add_friend" title="Add Friend" href="#" ng-click='Denied_Friend([[item._id]])'>
                                        <div class="icon_noti">
                                            <img src="./img/denied.png">
                                        </div>
                                    </a>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- Side Menu -->
                <div id="slide-menu">
                    <ul class="list-unstyled side-menu">
                        <li id="ItemUser" class="active">
                            <a class="sa-side-user" href="#">
                                <span class="menu-item">User</span>
                            </a>
                        </li>
                        <li id="ItemMessage">
                            <a class="sa-side-message" href="#">
                                <span class="menu-item">Message</span>
                            </a>
                        </li>
                        <li id="ItemContact">
                            <a class="sa-side-contact" href="#" ng-click='Click_Contact()'>
                                <span class="menu-item">Contact</span>
                            </a>
                        </li>
                        <li id="ItemNotification">
                            <a class="sa-side-notification" href="#" ng-click='Click_Noti()'>
                                <span class="menu-item">Notification</span>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </aside>
        </div>
        
        <div class="clearfix"></div>

       


        {{{body}}}
        
        
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script type="text/javascript" src="./css/snow.js"></script>
        <script type="text/javascript" src="./js/snow.js"></script>
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/jquery.scrollbar.js"></script>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/controllerUI.js"></script>
        <script src="./js/controller.js"></script>
        <!-- All JS functions -->
    </body>
</html>
