<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>Super Admin Responsive Template</title>
            
        <!-- CSS -->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/animate.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet">
        <link href="./css/style.css" rel="stylesheet">
        <link href="./css/icons.css" rel="stylesheet">
        <link href="./css/generics.css" rel="stylesheet"> 
        <link href="./css/avatar.css" rel="stylesheet">
        
    </head>
    <body id="skin-blur-black">
        <!-- Content -->
        <div id="tab-1">
            <div class="header-pos">


            <header id="header" class="media width-logo">
                <a href="" id="menu-toggle"></a> 
                <a id="logo" class="logo pull-left">PROFILE</a>

            </header>
            <div class="clearfix"></div>
            </div>

                <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div id="User" class="side-widgets overflow color-section">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                        <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
>
<div>
                        <img class="avatar-img" id="image" src="{{user.local.avatar}}" alt="" onclick="changePicture(); return false">
                        </div>

<input accept="image/*" type="file" id="upload" name="userPhoto" onchange="readURL(this);"style="visibility: hidden;" />
<!-- <input type="file" name="userPhoto" /> -->
<input type="submit" value="Upload Image" name="submit">
</form>
                        
                <div>
            <!-- <input accept="image/*" type="file" id="upload" name="upload" onchange="readURL(this);"style="visibility: hidden;" />
            <a href="" onclick="changePicture(); return false">Change Picture</a>
        </div> -->
                           <!--  <img class="profile-pic animated" src="./img/avatar.jpg" ng-click="changeavatar" alt=""> -->
                        </a>
                        
    {{#if user.local.name}}
                 <h4 class="m-0">{{user.local.name}}</h4>
    {{else}}
                <h4 class="m-0">{{user.facebook.name}}</h4>
    {{/if}}
                       
                    </div>
                </div>

                <div id="Message" class="side-widgets overflow color-section" style="display: none;" >
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated" src="http://byrushan.com/projects/sa/1-0-3/img/profile-pic.jpg" alt="">
                        </a>
                        <h4 class="m-0">AAAAAAAAAAAAAAAA</h4>
                    </div>
                </div>

                <div id="Contact" class="side-widgets overflow color-section" style="display: none;">
                    <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                    </div>
                    <div id="Friends" class="scrollbar-macosx">
                        <ul class="ListFriend">
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Anh Huy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_offline.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Thị Thảo Nguyên</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                          <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                                          <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Thị Thảo Vy</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                            <img src="./img/avatar.jpg" alt="user" class="avatar-large">                                        
                                            <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Giang Thạch</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                            <img src="./img/avatar.jpg" alt="user" class="avatar-large">                                        
                                            <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Giang Thạch</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                            <img src="./img/avatar.jpg" alt="user" class="avatar-large">                                        
                                            <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Giang Thạch</span>
                                </div>
                            </li>
                            <li class="friend">
                                <div>
                                    <a>
                                        <div class="badge-container">
                                            <img src="./img/avatar.jpg" alt="user" class="avatar-large">                                        
                                            <img src="./img/check_online.png" class="check-online">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-friend">
                                    <span class="text-name">Nguyễn Giang Thạch</span>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <!--<div class="badge-container">
                      <img src="./img/avatar.jpg" alt="user" class="avatar-large">
                      <div class="badge badge-red">O</div>
                    </div>-->
                </div>

                <!-- Side Menu -->
                <div id="slide-menu">
                    <ul class="list-unstyled side-menu">
                        <li id="ItemUser" class="active">
                            <a class="sa-side-user">
                                <span class="menu-item">User</span>
                            </a>
                        </li>
                        <li id="ItemMessage">
                            <a class="sa-side-message">
                                <span class="menu-item">Message</span>
                            </a>
                        </li>
                        <li id="ItemContact">
                            <a class="sa-side-contact">
                                <span class="menu-item">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        
        <div class="clearfix"></div>

       


        {{{body}}}
        
        
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/jquery.scrollbar.js"></script>
        
        <script src="./js/controllerUI.js"></script>
        <!-- All JS functions -->
    </body>
</html>

<script>
        function changePicture(){
            $('#upload').click();
        }
        function readURL(input)
        {
            if (input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function (e)
                {
                    $('#image')
                    .attr('src',e.target.result);

                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function() {

     $('#uploadForm').submit(function() {
         $("#status").empty().text("File is uploading...");

        $(this).ajaxSubmit({

            error: function(xhr) {
                    status('Error: ' + xhr.status);
            },

            success: function(response) {
                    console.log(response)
                    $("#status").empty().text(response);
            }
    });

    return false;
    });    
});



    </script>