<!-- Section chat box -->
<section id="content" class="container" style="height: 100%;">
    <div class="logo-friend-header">
        <div style="height: 70px; line-height: 70px;">

            <div class="badge-container item-left">
              <img src={{user.facebook.photos}} alt="user" class="avatar-large">
              <img src="./img/check_offline.png" class="check-online">
            </div>
            <div class="margin-name item-left">
                {{#if user.local.name}}
                <h3>{{user.local.name}}</h3>
    {{else}}
                <h3>{{user.facebook.name}}</h3>
    {{/if}}
            </div>
            <div class="item-right">
                <img src="./img/phone.png" style="margin-right: 12px;">
                <img src="./img/camera.png">
            </div>
        </div>
    </div>  
    <div class="chat-box" style="height: 100%;">
        <div id="section-chat" class="chat-height scroll-y scrollbar-macosx">
            <ol class="">
                <li class="section-item">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="{{user.local.avatar}}">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello worldHello worldHello worldHello worldHello worldHello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello worldHello worldHello worldHello worldHello worldHello world</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello worldHello worldHello worldHello worldHello worldHello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world  Hello world Hello worldHello worldHello worldHello world</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg"f>
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
                <li class="section-item me">
                    <div class="avatar avatar-small">
                        <img class="avatar-img" src="./img/avatar.jpg">
                    </div>
                    <div>
                        <div class="section-item-message border-right border-left">
                            <span>worldHello world Hello world</span>
                        </div>
                        <div class="section-item-message border-right border-left">
                            <span>Hello world Hello world Hello</span>
                        </div>
                    </div>

                </li>
            </ol>

        </div>
    </div>    
    <div class="width-text">
        <input class="textarea" type="text" placeholder="Type here ...">
        <div class="func">
            <img class="icon_func" src="./img/smile.png">
            <img class="icon_func" src="./img/image.png">
            <img class="icon_func" src="./img/send.png">
        </div>
    </div>
</section>   